[submodule "Backend"]
path = DFMS.Backend
url = https://github.com/Krzaczek24/DFMS.Backend.git
[submodule "Frontend.TypeScriptReactWithMobx"]
path = DFMS.Frontend.TypeScriptReactWithMobx
url = https://github.com/Krzaczek24/DFMS.Frontend.TypeScriptReactWithMobx.git